<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}

    <section class="hero small">
        <h1>Help & Support</h1>
        <p>Need assistance? We’re here to help.</p>
    </section>

    <main class="main-content full-width">
        <section class="content-card">
            <p>{{helpText}}</p>
        </section>
    </main>

    {{>footer}}
</body>
</html>
