<header class="site-header">
    <h1>{{title}}</h1>
    <nav class="nav-links">
        <a href="/" class="{{#ifEquals currentPage 'weather'}}active{{/ifEquals}}">Weather</a>
        <a href="/about" class="{{#ifEquals currentPage 'about'}}active{{/ifEquals}}">About</a>
        <a href="/help" class="{{#ifEquals currentPage 'help'}}active{{/ifEquals}}">Help</a>
    </nav>
</header>
